@using Bislerium_v7.Data

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">𝕭𝖎𝖘𝖑𝖊𝖗𝖎𝖚𝖒 𝕮𝖆𝖋𝖊</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class='@(_collapseNavMenu ? "collapse" : "")' @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3"><h5 class="text-light">Welcome <strong>@Username</strong>!</h5></div>
        @if (UserRole == Role.Admin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    👥 Users
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="coffees">
                    ☕️ 🅲🅾🅵🅵🅴🅴
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="addIns">
                    🥤 Add Ins
                </NavLink>
            </div>
        }

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="order">
                📋 Orders
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="orderList">
                📜 Order List
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="generate-report">
                 📊 Generate Report
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="change-password">
                🔄 Change Password
            </NavLink>
        </div>




        <div class="nav-item px-3">
            <NavLink class="nav-link text-danger" role="button" @onclick="LogoutHandler">
                <span class="oi oi-account-logout" /> Logout
            </NavLink>
        </div>

    </nav>
</div>

@code {
    [Parameter]
    public string Username { get; set; }
    [Parameter]
    public Role UserRole { get; set; }
    [Parameter]
    public EventCallback LogoutHandler { get; set; }

    private bool _collapseNavMenu { get; set; } = true;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
  